footer {
  background-color: $dark-dark-gray;
  .container {
    .footer-top {
      display: flex;
      justify-content: space-around;
      padding-top: 80px;

      .col {
        width: calc(100% / 3);
        padding-bottom: 50px;

        .logo-footer {
          height: 100px;
          margin-top: 20px;

          img {
            width: auto;
            height: 100%;
            object-fit: fill;
          }
        }

        h4 {
          color: $primary-color;
          font-family: "Poppins", sans-serif;
          font-size: 0.8rem;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 3px;
        }

        ul {
          list-style: none;
          margin-bottom: 20px;
          li {
            margin-bottom: 0;
            line-height: 1.5rem;
            text-align: left;
            a {
              font-size: 0.8rem;
              letter-spacing: 1px;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }

        p,
        a {
          font-size: 0.8rem;
          line-height: 1.5rem;
          font-weight: 400;

          strong {
            a {
              color: $primary-color !important;
              text-transform: uppercase;
              letter-spacing: 3px;
            }
          }
        }
      }

      .general-infos {
        min-width: 50%;
        text-align: left;

        img {
          margin-bottom: 20px;
        }

        p {
          color: $light !important;
          text-align: left;
          line-height: 1.2rem;
        }
      }

      .col_1 {
        a {
          &::before {
            content: ">";
            margin-right: 10px;
            color: $primary-color;
            font-weight: 500;
          }
        }
      }

      .col-2 {
        p {
          margin-bottom: 0;
          color: $light;
        }
      }

      .rs_footer {
        min-width: 20%;
        p {
          color: $light;
        }
      }
    }
  }

  .footer_bottom {
    background-color: $secondary-color;

    .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 25px 0;

      a {
        font-weight: 300;
        letter-spacing: 3px;
        font-size: 0.7rem;
        font-weight: 400;
      }

      p {
        color: $light;
        font-size: 0.7rem;
        letter-spacing: 3px;
        margin: 0;
        line-height: 1rem;
        text-align: center;

        strong {
          color: $primary-color;
        }

        a {
          color: $light;
          font-weight: 600;
        }
      }
    }

    .mobile {
      display: none;
    }
  }
}
