.top_banner_header {
  height: 40px;
  width: 100vw;
  background-color: $primary-color;

  p {
    text-align: center;
    color: $light;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.7rem;
  }
}

.header {
  background: $light;
  width: 100vw;

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70vw;
    margin: auto;
    padding: 30px 0;
  }

  .bottom-header {
    background: linear-gradient(90deg, $light-gray 80%, $secondary-color 80%);

    .primary-navigation {
      width: 70vw;
      margin: auto;

      #menu-navigation-principale,
      #menu-navigation-principale-neerlandais {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 50px;

        li {
          text-transform: uppercase;
          letter-spacing: 3px;
          font-size: 0.9rem;
          padding-top: 10px;
          position: relative;
          margin-bottom: 0;

          a {
            color: $secondary-color;
            font-weight: 400;
            font-size: 0.8rem;

            &:hover {
              color: $primary-color;
            }
          }
        }

        .cta {
          border-radius: 0;
          background: $secondary-color;

          a {
            color: #fff;
          }
        }

        .menu-item-has-children {
          .sub-menu {
            display: none;
          }

          &:hover {
            height: auto;
            .sub-menu {
              display: block;
              position: absolute;
              z-index: 10;
              background-color: $light;
              top: 45px;
              min-width: 330px;
              padding: 20px;

              li {
                color: $primary-color;
                list-style: none;
                display: block;
                border-bottom: 1px solid $light-gray;
                position: relative;
                max-height: 50px;
                padding: 0;
                margin: 0;

                a {
                  color: #29255c;
                  text-transform: uppercase;
                  letter-spacing: 5px;
                  display: block;
                  padding: 2% 0;
                  margin: 0;
                  font-size: 0.7rem;
                  font-weight: 500;
                }

                &:hover {
                  border-color: $light-gray;
                  min-height: auto;

                  a {
                    color: $primary-color;
                    font-weight: 800;
                  }

                  .sub-menu {
                    display: block;
                  }
                }

                .sub-menu {
                  display: none;
                  position: absolute;
                  right: -300px;
                  top: 0;

                  li {
                    a {
                      color: $secondary-color;
                      text-transform: none;
                      font-size: 0.8rem;
                      font-weight: 300;

                      &:hover {
                        color: $light;
                      }
                    }
                  }
                }

                &:last-child {
                  border-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  &.borBot {
    border-bottom: 1px solid $light-gray;

    .col-d {
      .secondary-navigation {
        .menu-top-header_menu-container ul,
        .menu-top-header_menu-neerlandais-container ul {
          li:first-child::before {
            content: "\f007";
            font-family: "Font Awesome 6 Free";
            color: $dark-dark-gray;
          }

          li {
            a {
              color: $dark-dark-gray;

              &:hover {
                color: $primary-color;
              }
            }
          }

          .cta {
            a {
              color: $light !important;
            }
          }
          .wpml-ls-current-language {
            a {
              color: $primary-color;
              font-weight: 600;
            }
          }
        }
      }
    }

    .primary-navigation {
      margin-top: 20px;

      #menu-navigation-principale,
      #menu-navigation-principale-neerlandais {
        li {
          a {
            color: $dark-dark-gray;
            transition: all ease-out 300ms;

            &:hover {
              color: $primary-color;
            }
          }
        }

        .cta {
          &::after {
            content: "→";
            height: 30px;
            color: $dark-dark-gray;
          }
        }

        .menu-item-has-children {
          &:hover {
            min-height: 400px;

            .sub-menu {
              background-color: $light;
              border-bottom: 2px solid $primary-color;

              li {
                color: $primary-color;
                border-bottom: 1px solid $light-gray;

                a {
                  color: $secondary-color;
                }
              }
            }
          }
        }
      }
    }

    .hamburger-menu {
      display: none;
      stroke: #fff;
    }
  }

  .col-g {
    width: 30%;

    .logo {
      max-width: 350px;
    }
  }

  .col-d {
    width: 80%;

    .hamburger-menu {
      display: none;
    }

    .secondary-navigation {
      display: flex;
      justify-content: flex-end;

      .menu-top-header_menu-container ul,
      .menu-top-header_menu-neerlandais-container ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 20px;

        li:first-child::before {
          content: "•";
          color: $light;
          margin-right: 10px;
        }

        li {
          text-transform: uppercase;
          font-family: "Sofia";
          letter-spacing: 10px;
          font-weight: 300;
          font-size: 0.7rem;

          a {
            display: inline !important;
            text-shadow: 0px 0px 3px rgb(0 0 0 / 3%);
            &:hover {
              color: $primary-color;
            }
          }
        }
        .wpml-ls-current-language {
          a {
            color: $primary-color;
            font-weight: 600;
          }
        }

        li.cta {
          padding: 5px 20px;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
    stroke: #fff;
  }
}

.megamenu {
  display: none;
  opacity: 0;
}
