.page-template-a-propos {
  #section-introduction {
    padding-top: 100px;
  }

  #section-service-2{
    margin:100px auto;

    .columns{
      min-height: 500px;

      .col-g{
        
        h2{
          color:$secondary-color;
          font-weight: 600;
          margin-bottom: 30px;
        }
      }

      .col-d{
        padding-top: 60px;
        
        img{
          width:calc(100% - 50px);
          box-shadow: 50px -50px 0 $secondary-color;
        }
      }
    }
  }
}
