.post-template-single,
.page-template-single {
  #section-introduction {
    padding: 100px 0;

    .container {
      .col-g {
        h1 {
          margin-bottom: 150px;
        }

        .img-content {
          height: 700px;
        }
      }
      .col-d {
        .bloc-cta {
          display: flex;
          justify-content: space-between;
          margin-top: 50px;

          .cta,
          .cta-border {
            margin: 0;
          }
        }
      }
    }
  }
}
