.page-template-services {
  #galerie {
    padding-top: 100px;

    h1 {
      text-align: center;
      color: $secondary-color;
      font-weight: 600;
    }

    .bloc-filter {
      display: flex;
      gap: 50px;
      margin: 20px auto 50px;
      letter-spacing: 2px;
      justify-content: center;

      .filter {
        text-transform: uppercase;
        color: $middle-gray;
      }

      .active {
        color: $secondary-color;
        font-weight: 600;
      }

      .filter + .filter {
        padding-left: 50px;
        border-left: 1px solid $middle-gray;
      }
    }

    .grid-realisations {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      a {
        margin-bottom: 0;

        .card-realisation {
          height: 400px;
        }
      }
    }
  }

  #banner-discussion {
    padding: 100px 0;
    margin-bottom: 100px;
    border-bottom: 1px solid $light-gray;

    .container {
      h2,
      p {
        color: $secondary-color;
        text-align: center;
      }

      p {
        margin: 30px;
      }
    }

    .cta {
      margin: auto;
    }
  }
}
