.card-news {
  gap: 0;
  position: relative;
  margin-bottom: 50px;
  border-bottom: 1px solid $light-gray;

  .thumbnail {
    max-height: 300px;
    overflow: hidden;
  }

  .content {
    padding: 20px;
    width: calc(100% - 40px);
    text-align: left;

    &::before {
      content: "";
      height: 40px;
      width: 2px;
      background: $primary-color;
      display: block;
      margin-top: -40px;
      z-index: 1;
      position: relative;
      margin-bottom: 20px;
    }

    h1 {
      color: $secondary-color;
      font-size: 2rem;
      line-height: 2rem;
      text-transform: none;
      text-align: left;

      strong {
        font-weight: 600;
      }
    }

    p {
      margin: 20px 0;
    }

    a {
      color: $dark-gray;
      font-weight: 600;
      text-transform: uppercase;
      margin: 50px 0;
    }
  }

  .col-g {
    margin-top: 100px;
    padding: 30px 80px;
    background: $light;
    position: relative;
    width: calc(50% - 160px);

    p {
      margin-top: 20px;
    }
  }
}

/* Projets */

.card-projets.-left {
  gap: 0;
  position: relative;
  margin-bottom: 50px;

  .col-g {
    margin-top: 100px;
    padding: 30px 80px;
    background: $light;
    position: relative;
    width: calc(50% - 160px);

    h2 {
      color: $secondary-color;
      margin: 20px auto;

      strong {
        font-weight: 500;
      }
    }

    .cta-border {
      margin-left: 0;
      color: $primary-color;
    }
  }

  .col-d {
    width: 70%;
    margin-left: -20%;
    overflow: hidden;
    max-height: 500px;
  }
}

.card-projets.-right {
  gap: 0;
  position: relative;
  margin-bottom: 50px;

  .col-g {
    width: 70%;
    margin-right: -20%;
    overflow: hidden;
    max-height: 500px;
  }

  .col-d {
    margin-top: 100px;
    padding: 30px 80px;
    background: $light;
    position: relative;
    width: calc(50% - 160px);

    h2 {
      color: $secondary-color;
      margin: 20px auto;

      strong {
        font-weight: 500;
      }
    }

    .cta-border {
      margin-left: 0;
      color: $primary-color;
    }
  }
}
