#banner-fullwidth {
  background-color: $secondary-color;
  padding: 50px 0;
  width: 96vw;
  margin: 2vw;

  .container {
    h4 {
      color: $light;
      margin-bottom: 30px;
    }

    h2 {
      color: $light;

      strong {
        color: $light;
      }
    }

    p {
      color: $light;
      margin: 30px 0;
    }
  }
}
